In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.linear_model import LinearRegression

In [2]:
train = pd.read_csv('height_train.csv')
test = pd.read_csv('height_test.csv')
#print(train[:20])

In [3]:
model = LinearRegression()

In [4]:
x1=round((train['father_height']-train['child_height'])/(train['father_height']*train['father_height']), 5)*train['boy_dummy']

In [5]:
model.fit(X=train.loc[:,['father_height','mother_height','boy_dummy',]], y=train.child_height+x1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [6]:
model.coef_

array([0.3595987 , 0.21960171, 0.09404248])

In [7]:
model.intercept_

0.669216853897165

In [8]:
test['prediction'] = 0.3595987*test.father_height+0.21960171*test.mother_height+0.09404248*test.boy_dummy+0.669216853897165

In [9]:
test[:20]

      id  father_height  mother_height  boy_dummy  prediction
0   5000           1.71           1.66          0    1.648669
1   5001           1.69           1.63          1    1.728932
2   5002           1.71           1.56          1    1.720752
3   5003           1.68           1.67          1    1.734120
4   5004           1.71           1.60          0    1.635493
5   5005           1.88           1.59          1    1.788472
6   5006           1.72           1.62          0    1.643481
7   5007           1.71           1.64          1    1.738320
8   5008           1.73           1.69          1    1.756492
9   5009           1.77           1.61          0    1.659265
10  5010           1.72           1.64          0    1.647873
11  5011           1.74           1.65          0    1.657261
12  5012           1.68           1.65          1    1.729728
13  5013           1.79           1.68          0    1.681829
14  5014           1.75           1.61          0    1.652073
15  5015           1.65           1.61          1    1.710156
16  5016           1.70           1.56          0    1.623113
17  5017           1.80           1.58          0    1.663465
18  5018           1.65           1.63          0    1.620505
19  5019           1.71           1.69          0    1.655258

In [ ]:

test.to_csv("data.csv")